/*
  - Author: John Drozdzynski
  - Updated: 06/29/2023
  - Project: Color In Full LLC - Designer
  - Description:(
    Allow user to create designs and preview those design on blank products.
    )
    
  - All Rights Reserved

*/

/* 
--tiffany-blue: #83e9e6ff;
--jet: #2a2b2eff;
--aero: #63b4d1ff;
--vista-blue: #7699d4ff;
--alice-blue: #ebf2f5ff;

*/

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
  background-color: var(--main-bg);
}

:root {
  --main-bg: #ebf2f5ff;
  --main-bg-h: #d8e1ed;
  --main-bg-h2: #bdc7d5;
  --alt-color: #adbed6;
  --alt-color-lite: #dee4ee;

  --btn-main: #83e9e6ff;
  --btn-main-hvr: #63b4d1ff;
  --btn-alt: ;
  --btn-alt-hvr: ;

  --text-main: #2a2b2eff;
  --text-alt: #91a0ba;
}

/* NAVIGATION */
/***********************************/

nav {
  display: flex;
  flex-grow: 1;
  background-color: var(--alt-color);
  
}

nav ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content: end;
}

nav ul li {
  padding: 0.85em;
  border-radius: 0.9em;
  background-color: var(--text-alt);
  margin: 2px;
  
}

nav ul li a {
  color: var(--btn-main);
  font-weight: bold;
}

/* TOOLBAR */
/***********************************/

.toolbar {
  display: flex;
  flex-grow: 1;
  height: 75px;
}

.placement-choices {
  flex-grow: 0.2;
}

.placement-choice, .toolbar-btn {
  margin:  0px 5%;
}

.toolbar-icons {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.toolbar-icons span {
  background-color: var();
}

.toolbar-finish {
  flex-grow: 0.2;
}

#add-img {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -5000px;
}


/* DESIGNER & DESIGNBAR*/
/***********************************/

#design-area {
  display: flex;
}

#designs {
  
}

#design-front, #design-back {
  width: 800px;
  height: 800px;
}

#designbar {
  min-width: 400px;
}

#elements-front, #elements-back {
  display: flex;
  flex-direction: column;
}

.designbar-control {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin: 10px auto;
  min-height: 100px;
  background-color: var(--alt-color-lite);
  border-radius: 10px;
}

.designbar-control:hover {
  background-color: var(--main-bg-h);
}

.swatchContainer {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  justify-content: center;
  padding: 0.5em;
  margin: auto;
  width: 175px;
}

.swatch {
  background-color: var(--text-alt);
  grid-row-start: 1;
  grid-row-end: 3;
  width: 125px;
  height: 125px;
  margin: 0px 10px;
  border-radius: 5px;
}

.swatch:hover {
  cursor: pointer;
}

.designbar-controller-btnLayer {
  width: 50px;
  margin: 0px 2px;
  border-radius: 10px;
}

.designbar-controller-btnLayer:hover {
  background-color: var(--main-bg-h2);
  box-shadow: 1px 1px 1px var(--alt-color);
}

.designbar-controller-btnLayer:active {
  background-color: var(--alt-color);
}

.designbar-controller-delete {
  margin: calc(10% - 20px) 10px;
  padding: 5px;
  width: 40px;
  height: 40px;
  opacity: 0.65;
}

.designbar-controller-delete:hover {
  opacity: 1;
}

.dim-wrap {
width: 75px;
margin: 5px;

}

.dim-wrap:hover {
  background-color: var(--main-bg-h2);
  box-shadow: 1px 1px 1px var(--alt-color);
}

.element-dim {
  font-size: 0.8em;
  width: 60px;
  margin: 0px 2px;
  border-radius: 5px;
  border: 1px solid var(--text-alt);
}
/* PREVIEWS */
/***********************************/

#previews {
  display: grid;
  justify-content: center;
  margin: 10px auto;
  height: 0px;
  overflow: hidden;
}

.preview-placement-choices {
  height: 350px;
}

#preview-front, #preview-back {
  width: 900px;
  height: 900px;
}