/*
  - Author: John Drozdzynski
  - Updated: 06/29/2023
  - Project: Color In Full LLC - Designer
  - Description:(
    Allow user to create designs and preview those design on blank products.
    )
    
  - All Rights Reserved

*/

/* 
--tiffany-blue: #83e9e6ff;
--jet: #2a2b2eff;
--aero: #63b4d1ff;
--vista-blue: #7699d4ff;
--alice-blue: #ebf2f5ff;

*/

html {
  font-family: 'Segoe UI', 'sans-serif';
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
  background-color: var(--main-bg);
}

#root {
  min-height: 100vh;
  
}

ul {
  padding: 0px;
  margin: 0px;
}

body {
  position: relative;
  min-height: 100vh;
}

:root {
  --main-bg: #ebf2f5ff;
  --main-bg-h: #d8e1ed;
  --main-bg-h2: #bdc7d5;
  --alt-color: #adbed6;
  --alt-color-lite: #dee4ee;

  --btn-main: #83e9e6ff;
  --btn-main-hvr: #63b4d1ff;
  --btn-alt: ;
  --btn-alt-hvr: ;

  --text-main: #808ca1;
  --text-alt: #91a0ba;
  --text-alt2: rgb(247, 247, 247);
}

/* NAVIGATION */
/***********************************/

.menu-item.visible {
  display: block;
}

nav {
  display: flex;
  flex-grow: 1;
  background-color: var(--alt-color);
  
}

#tagline {
  padding: 0.85em;
  margin: 10px;
  color: var(--text-main);
  border-bottom: 4px solid var(--text-main);
  border-right: 4px solid var(--text-main);
  height: 0.8em;
  border-radius: 15px;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  /*box-shadow: 4px 4px 6px var(--text-main);*/
  cursor: default;
}

.alt {
  color: var(--btn-main);
  font-size: 1.25em;
}

nav ul {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content: end;
  padding: 15px 0px;
}

nav ul li {
  padding: 0.85em;
  border-radius: 0.9em;
  background-color: var(--text-alt);
  margin: 2px;
  box-shadow: 2px 2px 4px var(--text-alt);
  
}

nav ul li:hover {
  background-color: var(--text-main);
}

nav ul li a {
  color: var(--btn-main);
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--btn-main)
}

#menu-icon {
  display: none;
  width: 50px;
  margin: 0px;
  padding: 5px;
}

#menu-icon img {
  width: 50px;
}

.menu-item {
  display: block;
}

/* FOOTER */
/***********************************/
footer{
  width: 100%;
  display: flex;
  background-color: var(--alt-color);
  height: 50px;
  margin-top: 1em;
  position: absolute;
  top: 100%;
}

footer ul {
  list-style: none;
  display: flex;
}

footer ul li {
  margin: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer-link {
  font-size: 0.75em;
  color: var(--text-main);
  font-weight: bolder;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--text-main);
  border-bottom: 4px solid var(--btn-main);
}


/* TOOLBAR */
/***********************************/

.toolbar {
  display: flex;
  flex-grow: 1;
  height: 150px;
  margin: 10px 0px;
}

.placement-choices {
  width: 400px;
  padding: 20px;
}

.placement-choice, .toolbar-btn {
  margin:  10px 5%;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  background-color: var(--text-alt);
  color: var(--btn-main);
  font-weight: bold;
  font-size: 0.9em;
  box-shadow: 2px 2px 4px var(--main-bg-h2);
  width: 100px;
}

.placement-choice:hover, .toolbar-btn:hover {
  background-color: var(--text-main);
}

.toolbar-icons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

#toolbar-add-img, #toolbar-add-txt {
  padding: 10px;
  width: 100px;
  height: 90px;
  border-radius: 10px;
}

#toolbar-add-img:hover, #toolbar-add-txt:hover {
  background-color: var(--main-bg-h2);
}

.toolbar-finish {
  flex-grow: 0.2;
}

.prev-buttons {
  display: none;
  flex-grow: 0.2;
}

#add-img {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -5000px;
}


/* DESIGNER & DESIGNBAR*/
/***********************************/

#design-area {
  display: flex;
}

#designs {
  margin: 0px 20px;
}

#design-front, #design-back {
  width: 800px;
  height: 800px;
}

#designbar {
  width: 95%;
  max-width: 800px;
  max-height: 800px;
  overflow: scroll;
}

#elements-front, #elements-back {
  display: grid;
  flex-direction: column;
}

.designbar-control {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100px;
  background-color: var(--alt-color-lite);
  border-radius: 10px;
  margin-bottom: 10px;
}

.designbar-control:hover {
  background-color: var(--main-bg-h);
}

.selected {
  border: 3px solid var(--text-alt);
  margin-bottom: 4px;
}

.swatchContainer {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  justify-content: center;
  padding: 0.5em;
  margin: auto;
  width: 175px;
}

.swatch {
  display: block;
  background-color: var(--text-alt);
  grid-row-start: 1;
  grid-row-end: 3;
  width: 125px;
  height: 125px;
  margin: 0px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.9em;
  word-wrap: break-word;
  overflow: hidden;
}

.swatch:hover {
  cursor: pointer;
}

.designbar-controller-btnLayer {
  width: 50px;
  margin: 0px 2px;
  border-radius: 10px;
}

.designbar-controller-btnLayer:hover {
  background-color: var(--main-bg-h2);
  box-shadow: 1px 1px 1px var(--alt-color);
}

.designbar-controller-btnLayer:active {
  background-color: var(--alt-color);
}

.btnContainer {
  padding: 5px;
  display: grid;
  width: 65px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

select {
  width: 70px;
  height: 24px;
  width: 90%;
}

input[type="color"] {
  width: 90%;
}

.designbar-controller-delete {
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 5px;
  width: 40px;
  height: 40px;
  opacity: 0.65;
  margin: 10px;
}

.designbar-controller-delete:hover {
  opacity: 1;
}

.dim-wrap {
width: 75px;
margin: 5px;

}

.dim-wrap:hover {
  background-color: var(--main-bg-h2);
  box-shadow: 1px 1px 1px var(--alt-color);
}

.element-dim {
  font-size: 0.8em;
  width: 60px;
  margin: 0px 2px;
  border-radius: 5px;
  border: 1px solid var(--text-alt);
}
/* PREVIEWS */
/***********************************/

#previews {
  display: none;
  margin: 0px auto;
  transition: 1.5s ease-in;
}

#preview-front, #preview-back {
  width: 800px;
  height: 800px;
  
}

/* LOGIN PAGE*/
/***********************************/
#login {
  width: 90%;
  max-width: 750px;
  display: grid;
  justify-content: center;
  margin: 10% auto;
}

#login button[type="submit"] {
  width: 100px;
  padding: 0.85em;
  border-radius: 0.9em;
  background-color: var(--text-alt);
  margin: 10px auto;
  box-shadow: 2px 2px 4px var(--text-main);
  color: var(--btn-main);
  font-weight: bold;
  border: none;
}

#login button[type="submit"]:hover {
  background-color: var(--text-main);
}

#login input {
  font-size: 1em;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px var(--text-main);
}

#message {
  text-align: center;
  color: red;
}

/* SIGN UP PAGE */
/***********************************/
#signup {
  width: 90%;
  max-width: 750px;
  display: grid;
  justify-content: center;
  margin: 10% auto;
}

#signup button[type="submit"] {
  width: 100px;
  padding: 0.85em;
  border-radius: 0.9em;
  background-color: var(--text-alt);
  margin: 10px auto;
  box-shadow: 2px 2px 4px var(--text-main);
  color: var(--btn-main);
  font-weight: bold;
  border: none;
}

#signup button[type="submit"]:hover {
  background-color: var(--text-main);
}

#signup input {
  font-size: 1em;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px var(--text-main);
}

#message {
  text-align: center;
  color: red;
}

/* ACCOUNT PAGE */
/***********************************/
h2, #user-designs h3 {
  text-align: center;
  margin: 25px auto;
}
#user-designs {
  display: grid;
  width: 90%;
  max-width: 650px;
  margin: 10px auto;
  justify-content: center;
}
#user-designs a{
  border: none;
  width: 150px;
  color: var(--btn-main);
  padding: 0.85em;
  border-radius: 0.9em;
  background-color: var(--text-alt);
  margin: 2px;
  box-shadow: 2px 2px 4px var(--text-alt);
  text-align: center;
}
.newDesign {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid var(--text-main);
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
}

.user-design-toolbar {
  grid-column-start: 1;
  grid-column-end: 3;
}

#logout {
  text-align: center;
  display: block;
  padding: 10px;
  background-color: var(--text-alt);
  color: var(--btn-main);
  border: none;
  border-radius: 10px;
  margin: 40px auto;
}

#logout {
  cursor: pointer;
}

.account-button {
  padding: 10px;
  background-color: var(--text-alt);
  color: var(--btn-main);
  border: none;
  border-radius: 5px;
  margin: 2.5px;
  font-weight: bold;
}

.account-button:hover {
  cursor: pointer;
  background-color: var(--text-main);

}


/* MEDIA QUERY */
/***********************************/

@media screen and (max-width: 1180px) {

  nav {
    display: grid;
    
  }
  
  #tagline {
    font-size: 1.2em;
  }
  
  nav ul {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  nav ul li {
    text-align: center;
  }

  div#design-area {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .toolbar {
    display: flex;
    flex-grow: 1;
    margin: 10px 0px;
  }

  .toolbar-icons {
    display: flex;
    height: 100%;
    justify-content: center;
  }
  
  #toolbar-add-img, #toolbar-add-txt {
    display: block;
    height: 50%;
    padding: none;
    margin: none;
  }

  .placement-choices {
    width: 100%;
    padding: 5px;
  }

  .placement-choice, .toolbar-btn{
    width: 100px;
  }

  #design-front, #design-back {
  width: 100%;
  height: 100%;
}

.designbar {
  width: 96%;
}

.designbar-control {
  width: 100%;
  justify-content: center;
}

.swatchContainer {
  margin: 10px 70px;
  width: 180px;
}

#menu-icon {
  display: block;
  position: relative;
  left: calc(100% - 65px)
}

.menu-item {
  display: none;
}

.swatch {
  width: 60px;
  height: 60px;
}

  
}

@media screen and (max-width: 650px) {
  #user-designs {
    margin: 5px auto;
  }
  
  .newDesign .canvas-container{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .user-design-toolbar {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
